{% extends 'djangoapp/common.html' %}{% block content %}
    <body>
      <h1>Enter a Review for this dealership</h1>
      <h3>Enter the review content</h3>
      <form action="{% url 'djangoapp:add_review' dealerId %}" method="POST">
                        {% csrf_token %}

      <textarea class="form-control" id="content" name="content" rows="2" placeholder="This is a great Dealer!" required></textarea>
       <input type="checkbox" name="purchasecheck" id="purchasecheck">
       <label class"form-check-label"for="urchasecheck" style="margin: auto;"> Has purchased a car from this Dealership?</label> <br>
       <label for="car">Select your car</label>
        <select name="car" id="car" class="form-select" required>
          {% for car in cars %}
             <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
          {% endfor %}
        </select>
        <h4>Select your purchase date</h4>
        <input class="date-own form-control" type="date" name="purchasedate" id="purchasedate" required>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
      
    <!--Add review form here -->
      <script type="text/javascript">
      $('.date-own').datepicker({
         format: 'mm/dd/yyyy'
       });
 </script>
  <script type="text/javascript">
      $('.date-own').datepicker({
         format: 'mm/dd/yyyy'
       });
 </script>
    </body>
{% endblock %}
</html>
