{% extends 'djangoapp/common.html' %}{% block content %}
<link rel="stylesheet" type="text/css" href="extensions/filter-control/bootstrap-table-filter-control.css">
<script src="extensions/filter-control/bootstrap-table-filter-control.js"></script>
<h1>Dealership Review</h1>
    <!--Add a dealer table here -->
    <style type="text/css" media="all">
        .fixed-table-body {
          margin: auto;
          padding: auto;
          height: 80% !important;


        }

    </style>
     <table class="table table-bordered table-hover center" id="table" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="name">Dealer Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="state" data-filter-control="select">State</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.zip}}</td>
                    <td>{{dealer.st}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>
{% endblock %}
